@media all and (max-width:569px) {
    
    /* 공통부분 */
    
    section,footer { position: relative; z-index: 3; }
    
    /* 버튼 */
    .but { width: 90%; height: 54px; border-radius: 10px; border: 2.5px solid #272727; box-sizing: border-box; }
    
    .but a { display: block; width: 100%; height: 100%; color: #272727; padding: 0 30px; box-sizing: border-box; }
    
    .but a span { font-size: 14px; line-height: 49px; float: left; letter-spacing: -0.5px;}
    
    .but a span:nth-child(2) { font-size: 18px; float: right; }
    
    
    /* 메뉴 */
    #menu_wrap { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 99999999999999999; background: #fff; display: table; }
    
    #menu_wrap header { float: left; }
    
    #menu_wrap .close { background-image: url(../img/close.png); background-repeat: no-repeat; background-size: 75%; background-position: center; cursor: pointer; }
    
    
    #menu_wrap .hide_menu { width: 100%; height: auto; display: table-cell; vertical-align: middle; }
    
    .hide_menu li { display: block; width: 100%;  text-align: center; color: #272727; font-size: 24px; margin-bottom: 15px; letter-spacing: -2px; }
    
    .hide_menu li a { display: block; width: auto; height: 100%; margin: 0 auto; }
    
    
    /* 패럴랙스 */
    #wrap .fixed_bg { width: 100%; height: 930px; position: fixed; z-index: 0; background-image: url(../img/section_5_bg_2.jpg); background-repeat: no-repeat; background-size: contain; background-size: cover; background-position: bottom center; }
    
    
    /* header */
    header { height: auto; padding: 15px 22px; box-sizing: border-box; position: fixed; z-index: 99; }
    
    header .logo { width: 96px; height: 34px; float: left; background-image: url(../img/logo.png); background-repeat: no-repeat; background-size: contain; cursor: pointer; }
    
    header .menu { width: 30px; height: 34px; float: right; background-image: url(../img/menu.png); background-repeat: no-repeat; background-size: contain; background-position: center; cursor: pointer; }
    
    
    
    
    /* main */
    #main { position: fixed; z-index: 1; }
    
    #main * { position: absolute; }
    
    #main img { background-position: bottom center; }
    
    #main .svg_wrap { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
    
    #main .svg_wrap embed { position: absolute; top: 50%; left: 50%; width: 70%; height: auto; }
    
    #main .black_box { position: absolute; z-index: 9; width: 100vw; height: 100%; }

    #main .black_box h1 { position: absolute; width: 100%; height: 25%; background: #000; animation: black_ani 3.5s linear forwards; }

    #main .black_box h1:last-child { bottom: 0; }

    @keyframes black_ani {
    
        0% { height: 25%; }
    
        15% { height: 22%; }
    
        30% { height: 20%; }
    
        50% { height: 15%; }
    
        80% { height: 8%; }
    
        100% { height: 0; }
    
    
    }
    

    
    
    /* #section_1 */
    #section_1 { height: auto; background: #fff; }
    
    #section_1 .section_1_con { height: auto; /*background-image: url(../img/section_1_bg.jpg); background-repeat: no-repeat; background-size: cover;*/ background: #e9e9ed; /*background-position: right; */display: flex; justify-content: center; margin: 0 auto; margin-top: 150px; }
    
    /* 회사 간략소개 */
    #section_1 .text_wrap { width: 80%; height: auto; padding: 100px 0; box-sizing: border-box; }
    
    #section_1 .text_wrap span { font-size: 16px; color: #272727; font-weight: 600; text-align: center; line-height: 34px; letter-spacing: -2px; display: inline-block; }
    
    #section_1 .text_wrap big { font-size: 28px; color: #018abd; }
    
    
    /* 아이콘 */
    #section_1 .text_wrap .icon_wrap { width: 100%; height: auto; margin: 56px auto 0 auto; display: flex; justify-content: space-between; }
    
    #section_1 .text_wrap .icon_wrap div { width: 60px; height: 100%; float: left; }
    
    #section_1 .text_wrap .icon_wrap div div { width: 100%; height: 70px; background-image: url(../img/section_1_icon_1.png); background-repeat: no-repeat; background-size: contain; background-position: center; cursor: pointer; margin-bottom: 8px; }
    
    #section_1 .text_wrap .icon_wrap div:nth-child(2) div { background-image: url(../img/section_1_icon_2.png); }
    
    #section_1 .text_wrap .icon_wrap div:nth-child(3) div { background-image: url(../img/section_1_icon_3.png); }
    
    #section_1 .text_wrap .icon_wrap div h4 { width: 100%; font-size: 12px; color: #272727; text-align: center; letter-spacing: -1.3px; }
    
    
    
    
    
    
    /* section_2 */
    #section_2 { height: auto; position: relative; padding: 150px 0 200px 0; background: #fff; }
    
    #section_2 .pro_box { width: 100%; height: auto; position: relative; margin: 0 auto; }
    
    /* section_2 공통부분 */
    
    #section_2 div div { width: 100%; height: auto; float: left; }
    
    #section_2 div .con { position: relative; cursor: pointer; z-index: 2; width: 100%; }
    
    #section_2 .img_box { width: 100%; height: 100%; background-size: cover; background-position: center; background-repeat: no-repeat; position: absolute; z-index: 2; }
    
    
    
    /* hover_box */
    #section_2 .hover_box { display: none; }
    
    /* text_box */
    
    #section_2 .text_box { display: none; }
    
    
    
    
    
    /* section_2 왼쪽 상품 */
    
    /* 가그린 */
    #section_2 .left .con:nth-child(1) { width: 100%; height: /*680px*/374px; }
    
    #section_2 .left .con:nth-child(1) .img_box { width: 100%; height: 100%; background-image: url(../img/section_2_img_1.jpg); }
    
    
    /* 판피린 */ 
    #section_2 .left .con:nth-child(2) { width: 100%; height: /*528px*/300px; margin-top: 50px; }
    
    #section_2 .left .con:nth-child(2) .img_box { background-image: url(../img/section_2_img_3.jpg); background-position: left;  }
    
    
    
    /* section_2 오른쪽 상품 */
    
    /*베나치오*/
    #section_2 .right .con:nth-child(1) { width: 100%; height: 250px; margin-top: 50px; }
    
    #section_2 .right .con:nth-child(1) .img_box { background-image: url(../img/section_2_img_2.jpg); }
    
    
    
    /* 비겐 크림톤 */
    #section_2 .right .con:nth-child(2) { width: 100%; height: 400px; margin-top: 50px; }
    
    #section_2 .right .con:nth-child(2) .img_box { background-image: url(../img/section_2_img_4.jpg); background-position: left top; }
    
    
    
    /* 버튼 */
    #section_2 .pc_but { margin: 0 auto; border: 3px solid #323844; box-sizing: border-box; border-radius: 10px; float: left; margin-top: 50px; display: none; }
    
    #section_2 .but a { display: block; width: 100%; height: 100%; color: #323844; padding: 0 30px; box-sizing: border-box; }
    
    #section_2 .m_but_wrap { width: 100%; height: auto; float: left; display: flex; margin-top: 50px; }
    
    #section_2 .m_but_wrap .but { width: 60%; height: 54px; margin: 0 auto; }
    
    
    
    
    /* section_3 */
    #section_3 { height: auto; background: #dde8f0; padding: 100px 0; box-sizing: border-box; }
    
    #section_3 .text_wrap { width: 80%; height: auto; margin: 0 auto; }
    
    
    /* 제품개발 설명 */
    #section_3 .text_wrap h1 { text-align: center; font-size: 28px; color: #111; margin-bottom: 20px; letter-spacing: -2px; }
    
    #section_3 .text_wrap>h4 { text-align: center; font-size: 16px; color: #272727; margin-bottom: 56px; letter-spacing: -1px; line-height: 26px; }
    
    
    
    /* 제품개발 아이콘 */
    #section_3 .text_wrap .icon_wrap { width: 100%; height: auto; display: flex; justify-content: space-between; margin: 0 auto; }
    
    #section_3 .text_wrap .icon_wrap div { width: 80px; height: 80px; float: left; }
    
    #section_3 .text_wrap .icon_wrap div .icon_box { width: 100%; height: 70px; margin-bottom: 8px; background-image: url(../img/section_3_icon_1.png); background-repeat: no-repeat; background-size: contain; background-position: center; cursor: pointer; float: left; }
    
    #section_3 .text_wrap .icon_wrap div:nth-child(2) .icon_box { background-image: url(../img/section_3_icon_2.png); }
    
    #section_3 .text_wrap .icon_wrap div:nth-child(3) .icon_box { background-image: url(../img/section_3_icon_3.png); }
    
    
    
    /* 제품개발 아이콘 설명 */
    #section_3 .text_wrap .icon_wrap div .icon_te { width: 100%; height: auto; font-size: 12px;
    color: #272727; text-align: center; letter-spacing: -1.2px; margin: 0; float: left; }
    
    
    
    
    /* section_4 */
    #section_4 { height: auto; padding: 200px 0 100px 0; background: #fff; }
    
    #section_4 article { display: none; }
    
    #section_4 #m_section_4 { width: 100%; height: 368px; background-image: url(../img/section_4_m_bg.jpg); background-repeat: no-repeat; background-size: cover; float: left; }
    
    #section_4 #m_section_4 .title_wrap { width: 80%; height: auto; margin: 0 auto; margin-top: 50px; }
    
    #section_4 #m_section_4 .title_wrap h1 { text-align: center; font-size: 28px; color: #111; margin-bottom: 25px; letter-spacing: -2px;}
    
    #section_4 #m_section_4 .title_wrap h4 { text-align: center; font-size: 16px; color: #272727; line-height: 24px; margin-bottom: 50px; }
    
    #section_4 #m_section_4 .title_wrap .but_wrap { width: 100%; height: auto; }
    
    #section_4 #m_section_4 .title_wrap .but_wrap .but { margin: 0 auto; }
    
    
    
    
    /* section_5 */
    #section_5 { height: auto; margin-top: 380px; }
    
    #section_5 .text_box { width: 100%; height: auto; position: relative; float: right; background: #cab09b; padding: 50px 25px 50px 25px; box-sizing: border-box;  }
    
    #section_5 .text_box h1 { font-size: 28px; color: #111; margin-bottom: 14px; letter-spacing: -2px;  text-align: center; }
    
    #section_5 .text_box p { font-size: 16px; color: #272727; margin-bottom: 41px; letter-spacing: -1px; line-height: 24px; text-align: center; }
    
    
    
    
    /* section_6 */
    #section_6 { height: auto; background: #fff; padding: 150px 0 140px 0; }
    
    #section_6 article { width: 90%; height: 100%; margin: 0 auto; }
    
    /* 광고영상 */
    #section_6 article .left { width: 100%; height: 376px; overflow: hidden; float: left; background: #fcd77f;  border-top-left-radius: 20px; border-bottom-left-radius: 20px; float: left; margin-bottom: 50px; }
    
    
    /* 광고영상 제목 */
    #section_6 article .left .title_wrap { width: 100%; height: 16.85%; padding: 22px 0 0 40px; box-sizing: border-box; }
    
    #section_6 article .left .title_wrap div { width: 100%; height: 30px; }
    
    #section_6 article .left .title_wrap div div { width: 4px; height: 31px; background: #3b332b; margin-right: 15px; float: left; /*margin-top: 6px;*/ }
    
    #section_6 article .left .title_wrap div span:nth-child(2) { font-size: 28px; line-height: 30px; color: #111; letter-spacing: -2px; float: left; margin-right: 22px; }
    
    #section_6 article .left .title_wrap div span:nth-child(3) { font-size: 14px; color: #303030; letter-spacing: -1px; float: left; line-height: 40px; display: none; }
    
    
    
    
    /* 유튜브 */
    #section_6 article .left .video { width: 100%; height: 83.15%; }
    #section_6 article .left .video iframe { width: 100%; height: 100%; }
    
    
    
    
    /* 새소식, 사이버 감사실 */
    #section_6 article .right { width: 100%; height: auto; float: left; }
    
    
    
    /* 새소식 */ 
    #section_6 article .right .news { width: 100%; height: auto; margin-bottom: 50px; background: #dde8f0; padding: 22px 17px; box-sizing: border-box; border-top-right-radius: 20px; }
    
    /* 새소식 타이틀 */
    #section_6 article .right .news .title_wrap { width: 100%; height: 49px; border-bottom: 3px solid #001b48; box-sizing: border-box; margin-bottom: 50px; display: flex; justify-content: center; }
    
    #section_6 article .right .news .title_wrap span:nth-child(1) { font-size: 28px; color: #111; margin-right: 10px; letter-spacing: -2px; }
    
    #section_6 article .right .news .title_wrap span:nth-child(2) { display: none; }
    
    #section_6 article .right .news .title_wrap .plus { width: 25px; height: 25px; line-height: 22px; background: #001b48; border-radius: 30px; color: #fff; text-align: center; margin-top: 7px; cursor: pointer; }
    
    
    /* 새소식 내용 */
    #section_6 article .right .news .con_wrap { width: 100%; padding: 0 15px; box-sizing: border-box; }
    
    #section_6 article .right .news .con_wrap .con { width: 100%; height: auto; margin-bottom: 26px; }
    
    #section_6 article .right .news .con_wrap .con h1 { font-size: 18px; color: #222; margin-bottom: 10px; text-decoration: underline; cursor: pointer; letter-spacing: -1.5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    
    #section_6 article .right .news .con_wrap .con h4 { font-size: 14px; color: #303030; margin-bottom: 7px; letter-spacing: -1px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
    
    #section_6 article .right .news .con_wrap .con h6 { font-size: 12px; color: #303030; letter-spacing: -0.4px; }
    
    #section_6 article .right .news .con_wrap .con:nth-child(2) { width: 100%; height: auto; margin-bottom: 0; }
    
    
    
    /* 사이버 감사실 */
    #section_6 article .right .gray_box { width: 100%; height: auto; background: #4d4b4e; padding: 50px 0; box-sizing: border-box; border-bottom-right-radius: 20px; }
    
    #section_6 article .right .gray_box .text_wrap { width: 100%; height: auto; }
    
    #section_6 article .right .gray_box .text_wrap * { color: #fff; }
    
    
    #section_6 article .right .gray_box .text_wrap h1 { font-size: 28px; margin-bottom: 14px; letter-spacing: -2px; text-align: center; }
    
    #section_6 article .right .gray_box .text_wrap h4 { width: 80%; font-size: 16px; margin: 0 auto; margin-bottom: 41px; letter-spacing: -1px; text-align: center; line-height: 24px; }
    
    #section_6 article .right .gray_box .text_wrap .but { border: 2.3px solid #fff; margin: auto; }
    
    
    
    
    /* footer */ 
    footer { height: 221px; padding: 60px 0; background: #222022; }
    
    footer * { margin: 0 auto; cursor: pointer; color: #fff; }
    
    /* footer 아이콘 */
    footer .icon_wrap { width: 230px; height: 30px; margin-bottom: 40px; }
    
    footer .icon_wrap h1 { width: 103px; height: 100%; margin-right: 15px; background-image: url(../img/footer_logo.png); background-repeat: no-repeat; background-size: contain; float: left; }
    
    footer .icon_wrap h1:nth-child(2) { width: 97px; background-image: url(../img/footer_web.png); }
    
    
    /* footer 사업자 정보 및 방침 */
    footer .text { width: 173px; height: auto; margin: 0 auto; margin-bottom: 20px; }
    
    footer .text:nth-child(3) { width: 270px; height: auto; margin: 0 auto; margin-bottom: 20px;}
    
    footer .text span { font-size: 12px; letter-spacing: -0.3px; }
    
    footer .text span:nth-child(1) { margin-right: 15px; }
    
    footer h4 { text-align: center; font-size: 12px; margin-bottom: 40px; }
    
    /* 사이트 이동 버튼 */ 
    footer .site { width: 270px; height: 36px; }
    
    footer .site .but { width: 130px; height: 100%; padding: 0 13px; border: 1.5px solid #fff; box-sizing: border-box; border-radius: 5px; float: left; }
    
    footer .site .but span { font-size: 12px; float: left; line-height: 33px; }
    
    footer .site .but span:last-child { font-size: 8px; float: right; }
    
    footer .site .but:last-child { float: right; }
    
}