@media all and (min-width:1200px) {
    
/* 숨길영역 */
#m_wrap { display: none; }

/* 공통부분 */
/*body { overflow: hidden; }*/

#wrap { float: left; }

.width_align { width: 1100px; margin: 0 auto; position: relative; }

section { position: relative; float: left; }
    
    
/* header */
header { width: 100%; height: 135px; float: left; position: fixed; z-index: 99999999; }

header .width_align { padding-top: 40px; box-sizing: border-box; }
    
/* logo */
header #logo { width: 172px; height: 40px; float: left; }

header #logo a img { width: 100%; height: auto;}
    
/* menu */
header #menu { width: 550px; height: 40px; line-height: 40px; float: right; margin-right: 4.5454%; }

header #menu #top_menu_wrap .top_menu { width: 25%; height: auto; float: left; text-align: center; font-size: 18px; }

header #menu #top_menu_wrap .top_menu a { color: #015d23; }
    

/* section01 */
/* mask */
#section_1 .mask { width: 100%; height: 100%; overflow: hidden; }

/* img_wrap */
#section_1 .img_wrap { width: 300%; height: 100%; }

/* banner */
#section_1 .banner { width: 33.333%; height: 100%; float: left; }

/* banner > img_box (배경이미지) */
#section_1 .banner .img_box { width: 100%; height: 100%; background-position: 40% 50%; background-size: cover; background-repeat: no-repeat; position: absolute; z-index: 1; }
#section_1 .banner01 .img_box { background-image: url(../img/section_1/main_1.jpg); }
#section_1 .banner02 .img_box { background-image: url(../img/section_1/main_2.jpg); }
#section_1 .banner03 .img_box { background-image: url(../img/section_1/main_3.jpg); }

/* banner > text_wrap */
#section_1 .banner .text_wrap { width: 100%; height: 100%; position: absolute; z-index: 2; }

#section_1 .banner .width_align { height: 100%;  }

#section_1 .banner .text_bg { width: 550px; height: 100%; background: rgba(247,247,247,0.8); float: right; margin-right: 4.545%; display: -webkit-box;
display: -ms-flexbox; display: flex; -webkit-box-pack: center;
-ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical;
-ms-flex-direction: column; flex-direction: column; }

/* text_wrap > title */
#section_1 .banner .title { width: 100%; float: left; font-size: 40px; font-weight: 700; letter-spacing: -1px; margin-bottom: 5%; color: #181818; text-align: center; }

/* small_title */
#section_1 .banner .small_title { width: 100%; float: left; font-size: 32px; font-weight: 500; letter-spacing: -1.5px; margin-bottom: 1.5%; color: #181818; text-align: center;}

/* text */
#section_1 .banner .text { width: 100%; float: left; text-align: center; letter-spacing: -1px; font-size: 16px; font-weight: 400; color: #181818; line-height: 22.5px; margin-bottom: 10.041%; }

/* but_wrap */
#section_1 .banner .but_wrap { width: 100%; float: left; }

#section_1 .banner .but { width: 180px; height: 56px; text-align: center; line-height: 56px; font-size: 16px; font-weight: 700; letter-spacing: -1px; margin: 0 auto; }

/* but 색상 변경 */
#section_1 .banner01 .but { background: #33631f; }
#section_1 .banner02 .but { background: #a66ea6; }
#section_1 .banner03 .but { background: #14437d; }

#section_1 .banner .but a { display: inline-block; width: 100%; height: 100%; color: #fff; }


/* swiper-pagination */
.swiper-pagination { width: 8px; height: 8px; border-radius: 50%; }

/* button (배너 화살표 버튼) */
#section_1 button{ border: 0; background-color: transparent; }




#section_2 { width: 100%; height: 100%; float: left; background: green; position: relative; }

#section_2>.con_wrap { width: 100%; height: 100%; }

#section_2>.con_wrap>.left_box { width: 54.6875%; height: 100%; float: left; background: #ffda81; position: relative; display: flex; justify-content: center; flex-direction: column; }

#section_2>.con_wrap>.left_box>.img_box { width: 680px; height: 550px; margin: auto;  }

#section_2>.con_wrap>.left_box>.img_box>img { width: 100%; height: auto; }
/*  left_box  img_box 끝    */
    
#section_2>.con_wrap>.right_box { width: 45.3125%; height: 100%; float: right; background: #fff; display: flex; justify-content: center; flex-direction: column; }
    
#section_2>.con_wrap>.right_box>.text_box { width: auto; height: auto; margin-left: 62px; }
    
#section_2>.con_wrap>.right_box>.text_box>h1 { font-size: 40px; font-weight: 700; letter-spacing: -1px; margin-bottom: 18px; color: #171717; }

#section_2>.con_wrap>.right_box>.text_box>h4 { font-size: 26px; font-weight: 500; letter-spacing: -2px; color: #171717; margin-bottom: 7px; }

#section_2>.con_wrap>.right_box>.text_box>span { font-size: 14px; font-weight: 400; letter-spacing: -0.5px; color: #171717; margin-bottom: 70px; display: block; }

#section_2>.con_wrap>.right_box>.text_box>a>.but { width: 180px; height: 56px; background: #f2ce2d; text-align: center; line-height: 56px; font-size: 16px; font-weight: 700; letter-spacing: -1px; color: #202020; }
/*    right_box   text_box   끝*/

#section_2>.small_con_wrap { width: 445px; height: 100px;  position: absolute; bottom: 5%; left: 50%; margin-left: -11.58%; }

#section_2>.small_con_wrap>.small_con { width: 100px; height: 100px; background: #fff; float: left; margin-right: 15px; }

#section_2>.small_con_wrap>.small_con:last-child { margin-right: 0; }

#section_2>.small_con_wrap>.small_con>img { width: 100%; height: auto; }
    
#section_2>.small_con_wrap>.small_con:hover { cursor: pointer; }
/*    small_con_wrap 끝    */
/*     section_2 끝     */
    
    
    
#section_3 { float: left; position: relative; }
    
#section_3 .width_align { width: 1200px; height: auto; position: relative; }
    
#section_3 .width_align h1 { width: 100%; text-align: center; font-size: 40px; font-weight: 800; letter-spacing: -1px; color: #191919; position: absolute; margin-top: 11%; }
    
#section_3 .width_align .pr_wrap { width: 100%; height: 520px;  position: absolute; margin-top: 23%; }
    
#section_3 .width_align .pr_wrap .arrow { width: 50px; height: 50px; float: left; position: relative; top: 50%; margin-top: -25px; cursor: pointer; font-size: 30px; font-weight: 700; color: #202020; text-align: center; line-height: 50px; }
    
#section_3 .width_align .pr_wrap #con_mask { width: 1100px; height: 520px; float: left; overflow: hidden; position: relative; }
    
#section_3 .width_align .pr_wrap #con_mask #pr_con_wrap { width: auto; height: 100%; position: relative; top: 5%; }
    
#section_3 .width_align .pr_wrap #con_mask #pr_con_wrap .con { width: 300px; height: 471px; float: left; margin-right: 100px; margin-bottom: 100px; }
    
#section_3 .width_align .pr_wrap #con_mask #pr_con_wrap .con:nth-child(3) { margin-right: 0;}
    
#section_3 .width_align .pr_wrap #con_mask #pr_con_wrap .con .img_box { width: 100%; height: 400px; margin-bottom: 10%; }
    
#section_3 .width_align .pr_wrap #con_mask #pr_con_wrap .con .img_box img { width: 100%; height: auto; }
    
#section_3 .width_align .pr_wrap #con_mask #pr_con_wrap .con h4 {  width: 100%; text-align: center; font-size: 16px; font-weight: 400; letter-spacing: -1px; margin-bottom: 1.5%; }
    
#section_3 .width_align .pr_wrap #con_mask #pr_con_wrap .con h5 {  width: 100%; text-align: center; font-size: 12px; font-weight: 400; letter-spacing: -0.4px; }
    
#section_3 .width_align .pr_wrap #con_mask #pr_con_wrap .con:nth-child(2) { transform: scale(1.1,1.1); }
/*     section_3 끝     */
    
    
#section_4 { float: left; background-image: url(../img/section_4/bg.jpg); background-size: cover; position: relative; }
    
#section_4 .width_align { height: 100%; }
    
#section_4 .width_align h1 { width: 100%; height: auto; text-align: center; font-size: 40px; font-weight: 800; letter-spacing: -0.6px; color: #191919; position: relative; top: 17%; }
    
#section_4 .width_align .con_box { width: 100%; height: 461px; position: relative; top: 36%; }
    
#section_4 .width_align .con_box .img_box { width: 677px; height: 461px; /*margin-right: 69px;*/ background-image: url(../img/section_4/pro.png); background-repeat: no-repeat; background-size: contain; float: left; }
    
#section_4 .width_align .con_box .text_box { width: calc(100% - 745px); height: 100%; float: right; display: flex; justify-content: center; flex-direction: column; }
    
#section_4 .width_align .con_box .text_box h4 { font-size: 32px; font-weight: 800; letter-spacing: -1px; color: #1b1b1b; margin-bottom: 23px; }
    
#section_4 .width_align .con_box .text_box span { font-size: 17px; font-weight: 400; color: #1b1b1b; letter-spacing: -1.5px; line-height: 22px; margin-bottom: 18px; }
    
#section_4 .width_align .con_box .text_box span:nth-child(3) { margin-bottom: 52px;  }
    
#section_4 .width_align .con_box .text_box .but { width: 180px; height: 56px; background: #43393c; line-height: 56px; font-size: 16px; font-weight: 700; color: #fff; }
    
#section_4 .width_align .con_box .text_box .but a { display: block; width: 100%; height: 100%; color: #fff; text-align: center}
/*     section_4 끝     */
    
    
footer { width: 100%; height: auto; float: left; }

footer>#top_footer { width: 100%; height: 75px; background: #474747; }

footer>#top_footer>.width_align { height: auto; padding: 0 97px; box-sizing: border-box; }

footer>#top_footer>.width_align>.left_box { width: 450px; height: 26px; float: left; color: #fff; margin-top: 24.5px; }

footer>#top_footer>.width_align>.left_box>h4 { font-size: 16px; font-weight: 500; float: left; }

footer>#top_footer>.width_align>.left_box>span { font-size: 14px; font-weight: 400; float: left; line-height: 22px; }

footer>#top_footer>.width_align>.left_box>span>a { color: #fff; }

footer>#top_footer>.width_align>.left_box>span:hover { text-decoration: underline; }

footer>#top_footer>.width_align>.left_box>.but { width: 26px; height: 26px; border-radius: 13px; background: #242424; float: right; text-align: center; line-height: 26px; }

footer>#top_footer>.width_align>.left_box>.but>a { color: #fff; }
    
    
footer>#top_footer>.width_align>.right_box { width: 117px; height: 25px; float: right; margin-top: 25px; }

footer>#top_footer>.width_align>.right_box>.sns_box { height: 23px; float: left; }
footer>#top_footer>.width_align>.right_box>.sns_box:first-child { width: 12px; margin-right: 29px; }

footer>#top_footer>.width_align>.right_box>.sns_box:nth-child(2) { width: 28px; margin-right: 24px;}

footer>#top_footer>.width_align>.right_box>.sns_box:last-child { width: 23px; }
/*  top_footer 끝    */
    
    
footer>#bottom_footer { width: 100%; height: 331px; background: #565656; }

footer>#bottom_footer>.width_align { height: auto; padding: 0 97px; box-sizing: border-box; }

footer>#bottom_footer>.width_align>ul { width: 100%; margin-top: 30px; float: left; margin-bottom: 25px; }

footer>#bottom_footer>.width_align>ul>li { float: left; color: #fff; font-size: 15px; font-weight: 500; margin-right: 1.2%; }

footer>#bottom_footer>.width_align>ul>li:last-child { margin-right: 0; }

footer>#bottom_footer>.width_align>ul>li>a { color: #fff; }
    /*    footer ul 끝    */
    
footer>#bottom_footer>.width_align>span { display: block; color: #fff; font-size: 12px; font-weight: 400; margin-bottom: 9px; }

footer>#bottom_footer>.width_align>span:nth-child(5) { margin-bottom: 25px; }
/*  footer span 끝  */

footer>#bottom_footer>.width_align>div { width: 448px; height: 110px; margin-bottom: 30px; }

footer>#bottom_footer>.width_align>div>.left_box { width: 117px; height: 100%; float: left; }

footer>#bottom_footer>.width_align>div>.left_box>img { width: 100%; height: auto; }

footer>#bottom_footer>.width_align>div>.right_box { width: 300px; height: 100%; border: 1px solid #fff; box-sizing: border-box; float: right; padding: 12px; box-sizing: border-box; }

footer>#bottom_footer>.width_align>div>.right_box>h4 { font-size: 14px; font-weight: 500; color: #fff; margin-bottom: 2%; }

footer>#bottom_footer>.width_align>div>.right_box>span { font-size: 12px; font-weight: 400; color: #fff; margin-bottom: 4%; line-height: 17px; display: block; }

footer>#bottom_footer>.width_align>div>.right_box>div { width: 100%; height: auto; }

footer>#bottom_footer>.width_align>div>.right_box>div>a>span { display: block; float: left; margin-right: 10px; color: #fff; font-size: 12px; font-weight: 400; text-decoration: underline; }

footer>#bottom_footer>.width_align>div>.right_box>div>a>div { width: 10px; height: 10px; float: left; margin-top: 1.1%; }

footer>#bottom_footer>.width_align>div>.right_box>div>a>div>img { width: 100%; height: auto; float: left; }
/* bottom_footer 끝 */
    
}